@media screen and (max-width: 767px) {
    .container {
        height: 100vh;
        background-image: url('../public/images/bg-main-mobile.png');
        background-repeat: no-repeat;
        background-size: contain;
    
        position: relative;
    }
    
    .formContainer {
        width: 90%;
        height: 40%;
        position: absolute;
        top: 390px;
        left: 20px;
    }
    
    input {
        display: block;
        border-radius: 6px;
    }
    
    input:focus {
        outline: none;
    }
    
    label {
        font-size: 14px;
        letter-spacing: 1.5px;
        font-weight: 500;
    }
    
    #name,
    #cardNumber {
        width: 100%;
        height: 45px;
        border: 1px solid lightgrey;
        font-size: 18px;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    
    
    #dateMonth,
    #dateYear {
        width: 20%;
        height: 45px;
        border: 1px solid lightgrey;
        font-size: 18px;
        margin-right: 15px;
        margin-top: 10px;
    }
    
    #cvc {
        width: 60%;
        height: 45px;
        border: 1px solid lightgrey;
        font-size: 18px;
        margin-top: 10px;
    }
    
    .expiryInfo {
        display: inline-flex;
    }
    
    input[type='text'],
    input[type='number'] {
        padding-left: 12px;
    }
    
    button {
        border: none;
        border-radius: 8px;
        margin-top: 30px;
        width: 100%;
        padding: 15px;
        font-size: 18px;
        font-weight: 500;
        background-color: hsl(278, 68%, 11%);
        color: #fff;
    }
}



